/** use flex or grid here*/
.main_container{
    display: flex;
}
.home_link{
   
    font-size: 5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -1;
    
}