.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  /* padding-top: 10rem; */
  min-height: 100vh;
  border: 1px solid rgb(255, 255, 255);
  background: no-repeat;
}

.link_one{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}
.link_one:hover{
font-size: 1.4rem;
opacity: 0.6;
transition: 0.3s;
}

.link_two{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.link_two:hover{
  font-size: 1.4rem;
  opacity: 0.6;
  transition: 0.3s;
  }
  
.link_three{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.link_three:hover{
  font-size: 1.4rem;
  opacity: 0.6;
  transition: 0.3s;
  }
  
.link_carousel{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.link_carousel:hover{
  font-size: 1.4rem;
  opacity: 0.6;
  transition: 0.3s;
  }
  