.main_container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;


}

.home_link{
    font-size: 10rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    writing-mode: horizontal-tb;
    letter-spacing: 2rem;
    margin-top: 25rem;
}

.use_effect_three{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 7rem;

}