
.main_container{
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.home_link{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    writing-mode: vertical-lr;
    letter-spacing: 3rem;
}

.use_effect_two{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: -8rem;
}